%tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $colorSecundario;
    padding: 10px;
    margin: 10px;
    text-align: center;
}