.imgIndex{
    grid-area: header;
    background-image: url(../img/fondoIndex2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:640px){
        background-image: url(../img/fondoMobileRe.jpg);
        height: 100vh;
    }
}
.indexInfo{
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    @media(max-width:600px){
        font-size: 18px;
    }
    p{
        color: white;
        font-size: 60px;
        @media(max-width:600px){
            font-size: 45px;
        }
        @media(max-width:490px){
            font-size: 35px;
        }
    }
    h1{
        color: white;
        font-weight: lighter;
        @media(max-width:600px){
            font-size: 30px;
        }
        @media(max-width:490px){
            font-size: 25px;
        }
    }
    img{
        @media(max-width:600px){
            width: 280px;
            height: 230px;
        }
        @media(max-width:490px){
            width: 250px;
            height: 200px;
        }
    }
}