.imgHead{
    grid-area: header;
    background-image: url(../img/fondoIndex2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:640px){
        background-image: url(../img/fondoMobile.jpg);
    }
    h1{
        @media(max-width:640px){
            color: white;
            font-weight: lighter;
            text-shadow: black 0.1em 0.1em 0.2em;
        }
        @media(max-width:520px){
            font-size: 25px;
        }
        @media(max-width:412px){
            font-size: 20px;
        }
    }
}
.pageMain{
    grid-area: main;
}
