* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NotoSans-Regular;
  src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(../fonts/Arimo/static/Arimo-Regular.ttf);
}
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat/static/Caveat-Regular.ttf);
}
@font-face {
  font-family: Dancing_Script;
  src: url(../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}
.customEx, .sales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: NotoSans-Regular !important;
}

main {
  background-color: #FFFEFE;
}

.indexGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 900px 1fr 320px;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
}
@media (max-width: 815px) {
  .indexGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 900px 1fr 550px;
    grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
  }
}

.pageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 200px 1fr 320px;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
}
@media (max-width: 815px) {
  .pageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 200px 1fr 550px;
    grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
  }
}

.cssNavbar {
  grid-area: nav;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: #111111;
}
.cssNavbar ul {
  margin-right: 25px;
}
.cssNavbar ul li {
  display: inline-block;
  list-style-type: none;
  line-height: 80px;
  margin: 0px 7px;
}
.cssNavbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 7px 15px;
  border-radius: 5px;
}
.cssNavbar ul li a .backColor, .cssNavbar ul li a:hover {
  background-color: #1A191C;
  transition: 0.5s;
}
@media (max-width: 1060px) {
  .cssNavbar ul li a {
    font-size: 15px;
  }
}
.cssNavbar .siteLogo {
  display: block;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0px 100px;
}
@media (max-width: 1060px) {
  .cssNavbar .siteLogo {
    font-size: 30px;
    padding-left: 50px;
  }
}
@media (max-width: 936px) {
  .cssNavbar .siteLogo {
    padding: 0 50px;
  }
}

.backColor {
  background-color: #1A191C;
}

.barsMenu {
  display: none;
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
}
@media (max-width: 936px) {
  .barsMenu {
    display: block;
    margin-left: 40px;
  }
}

#check {
  display: none;
}

@media (max-width: 936px) {
  .cssNavbar ul {
    position: fixed;
    width: 100%;
    background-color: #111111;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .cssNavbar ul li {
    display: block;
  }
  .cssNavbar ul li a {
    font-size: 18px;
  }
  .cssNavbar #check:checked ~ ul {
    left: 0;
  }
}
.imgIndex {
  grid-area: header;
  background-image: url(../img/fondoIndex2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
}
@media (max-width: 640px) {
  .imgIndex {
    background-image: url(../img/fondoMobile.jpg);
  }
}

.indexInfo {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}
@media (max-width: 600px) {
  .indexInfo {
    font-size: 18px;
  }
}
.indexInfo p {
  color: white;
  font-size: 60px;
}
@media (max-width: 600px) {
  .indexInfo p {
    font-size: 45px;
  }
}
@media (max-width: 490px) {
  .indexInfo p {
    font-size: 35px;
  }
}
.indexInfo h1 {
  color: white;
  font-weight: lighter;
}
@media (max-width: 600px) {
  .indexInfo h1 {
    font-size: 30px;
  }
}
@media (max-width: 490px) {
  .indexInfo h1 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .indexInfo img {
    width: 280px;
    height: 230px;
  }
}
@media (max-width: 490px) {
  .indexInfo img {
    width: 250px;
    height: 200px;
  }
}

.mainGridIndex {
  grid-area: main;
}
.mainGridIndex h2 {
  padding-top: 85px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 490px) {
  .mainGridIndex h2 {
    font-size: 20px;
  }
}

.mainIndex {
  display: flex;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
@media (max-width: 490px) {
  .mainIndex {
    margin: 15px 0;
  }
}
.mainIndex div {
  display: inline-block;
  width: 250px;
  height: 300px;
  border: solid 2px #FFFEFE;
  border-radius: 8px;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
}
.mainIndex div:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
@media (max-width: 870px) {
  .mainIndex div {
    width: 200px;
    height: 250px;
  }
}
@media (max-width: 490px) {
  .mainIndex div {
    width: 200px;
    height: 235px;
  }
}
.mainIndex div img {
  width: 70%;
  height: 70%;
  text-align: center;
}
.mainIndex div h3 {
  text-align: center;
}
.mainIndex div p {
  text-align: center;
  padding: 5px;
}
.mainIndex div button {
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #111111;
  color: white;
}

.linkProducts {
  text-align: center;
  margin-top: 30px;
}
.linkProducts a {
  display: inline-block;
  text-decoration: none;
  background-color: #111111;
  color: #FFFEFE;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
}
@media (max-width: 490px) {
  .linkProducts a {
    width: 200px;
    font-size: 12px;
  }
}
.linkProducts a:hover {
  background-color: #1A191C;
}

.imgHead {
  grid-area: header;
  background-image: url(../img/fondoIndex2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .imgHead {
    background-image: url(../img/fondoMobile.jpg);
  }
}
@media (max-width: 640px) {
  .imgHead h1 {
    color: white;
    font-weight: lighter;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}
@media (max-width: 520px) {
  .imgHead h1 {
    font-size: 25px;
  }
}
@media (max-width: 412px) {
  .imgHead h1 {
    font-size: 20px;
  }
}

.pageMain {
  grid-area: main;
}

.category {
  text-align: center;
  color: #FFFEFE;
  background-color: #111111;
  padding: 15px;
}
.category p {
  display: inline-block;
  padding: 5px 15px;
}
@media (max-width: 435px) {
  .category p {
    font-size: 12px;
  }
}

.sales div {
  display: inline-block;
  width: 250px;
  border: solid 2px #FFFEFE;
  border-radius: 8px;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
@media (max-width: 850px) {
  .sales div {
    height: 300px;
    width: 180px;
  }
}
@media (max-width: 640px) {
  .sales div {
    width: 170px;
  }
}
.sales div:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.sales div img {
  width: 100%;
  text-align: center;
}
.sales div button {
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #FFFEFE;
  color: #111111;
}

.titleEx {
  background-color: #111111;
  text-align: center;
  padding: 15px;
  color: #FFFEFE;
}
@media (max-width: 670px) {
  .titleEx {
    font-size: 18px;
  }
}

.customEx div {
  width: 250px;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 670px) {
  .customEx div {
    width: 220px;
    height: 270px;
  }
}
.customEx div:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.customEx div img {
  width: 100%;
  text-align: center;
}
.customEx div h3 {
  text-align: center;
  margin-bottom: 5px;
}
@media (max-width: 530px) {
  .customEx div h3 {
    font-size: 12px;
  }
}
.customEx div button {
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #1A191C;
  color: white;
}

.engraving {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  background-color: #FFFEFE;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.engraving img {
  width: 80px;
  height: 80px;
  padding: 15px;
}
@media (max-width: 530px) {
  .engraving img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 430px) {
  .engraving img {
    width: 55px;
    height: 55px;
    padding: 5px;
  }
}

.customText {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 670px) {
  .customText p {
    font-size: 25px;
  }
}
@media (max-width: 410px) {
  .customText p {
    font-size: 20px;
  }
}

.type1 {
  font-family: Anton;
  font-size: 30px;
  padding: 5px;
}

.type2 {
  font-family: Caveat;
  font-size: 30px;
  padding: 5px;
}

.type3 {
  font-family: Arimo;
  font-size: 30px;
  padding: 5px;
}

.type4 {
  font-family: Dancing_Script;
  font-size: 30px;
  padding: 5px;
}

.order {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .order {
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  .order {
    font-size: 16px;
  }
}
@media (max-width: 530px) {
  .order {
    font-size: 13px;
  }
}
@media (max-width: 410px) {
  .order {
    font-size: 10px;
  }
}

.us {
  grid-area: main;
  text-align: center;
}
.us p {
  padding: 15px;
  background-color: #111111;
  color: white;
}
.us section {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-around;
}
.us section div {
  width: 40%;
  padding: 15px;
}
@media (max-width: 600px) {
  .us section div {
    width: 80%;
  }
}
.us section div p {
  background-color: #FFFEFE;
  color: #111111;
}
.us hr {
  height: 3px;
  width: 80%;
  margin: auto;
  background-color: #558167;
}
.us ul {
  margin-top: 30px;
  margin-bottom: 35px;
  list-style: none;
  font-size: 20px;
}
@media (max-width: 600px) {
  .us ul {
    font-size: 16px;
  }
}
.us ul li {
  font-size: 18px;
}

hr {
  background-color: #111111;
  height: 25px;
  width: 100%;
  border: none;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 30px;
}
.contact form {
  width: 90%;
  max-width: 400px;
  padding: 30px 20px;
  text-align: center;
}
.contact form h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.contact form .message {
  margin-top: 20px;
  display: grid;
  gap: 30px;
}
.contact form .message div {
  position: relative;
}
.contact form .message input {
  width: 100%;
  background: none;
  color: #1A191C;
  font-size: 14px;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #558167;
  font-family: NotoSans-Regular;
}
.contact form .message input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #558167;
}
.contact form .message input:not(:-ms-input-placeholder) + label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #558167;
}
.contact form .message input:focus + label, .contact form .message input:not(:placeholder-shown) + label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #558167;
}
.contact form .message label {
  color: #1A191C;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(5px);
  transition: transform 0.5s, color 0.3s;
}
.contact form .message .submit {
  background-color: #1A191C;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
.contact form .message textarea {
  width: 100%;
  height: 75px;
  padding: 8px;
  font-family: NotoSans-Regular;
}
.contact .map {
  padding: 30px 20px;
}
.contact .map h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.contact .map iframe {
  height: 90%;
  width: auto;
}

.pageFooter {
  grid-area: footer;
  background-color: #111111;
}

.group1 {
  width: 100%;
  max-width: 1200px;
  justify-content: space-evenly;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
@media (max-width: 815px) {
  .group1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.group1 div figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group1 div figure img {
  width: 250px;
}
.group1 div h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.group1 div p {
  color: white;
}

.socials a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  background-color: #1A191C;
  text-align: center;
  margin-right: 10px;
  transition: all 300ms ease;
}
.socials a:hover {
  color: #558167;
}

.group2 {
  background-color: #1A191C;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.group2 p {
  color: white;
}