@font-face {
    font-family: NotoSans-Regular;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face{
    font-family: Arimo;
    src: url(../fonts/Arimo/static/Arimo-Regular.ttf);
}
@font-face{
    font-family: Anton;
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face{
    font-family: Caveat;
    src: url(../fonts/Caveat/static/Caveat-Regular.ttf);
}
@font-face{
    font-family: Dancing_Script;
    src: url(../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}
