.imgIndex{
    grid-area: header;
    background-image: url(../img/fondoIndex2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexInfo{
    text-align: center;
    color: white;
    font-size: 25px;
    @media(max-width:600px){
        font-size: 18px;
    }
    img{
        @media(max-width:600px){
            width: 280px;
            height: 230px;
        }
        @media(max-width:490px){
            width: 250px;
            height: 200px;
        }
    }
    @media(max-width:490px){
        font-size: 15px;
    }
}