.titleEx{
    background-color: $colorPrincipal;
    text-align: center;
    padding: 15px;
    color: #FFFEFE;
    @media(max-width:670px){
        font-size: 18px;
    }
}
.customEx{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    background-color: $colorSecundario;
    padding: 10px;
    margin: 10px;
    text-align: center;
    div{
        width: 250px;
        background-color: $colorSecundario;
        padding: 10px;
        margin: 10px;
        @media(max-width:670px){
            width: 220px;
            height: 270px;
        }
        @media(max-width:530px){
            width: 160px;
            height: 240px;
        }
        @media(max-width:410px){
            width: 140px;
        }
        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
        img{
            width: 100%;
            text-align: center; 
        }
        h3{
            text-align: center;
            @media(max-width:530px){
                font-size: 12px;
            }
        }
        button{
            padding: 3px;
            border: none;
            background-color: $colorSecundario;   
        }
    }

}
.engraving{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    background-color: $colorSecundario;
    padding: 10px;
    margin: 10px;
    text-align: center;
    img{
        width: 80px;
        height: 80px;
        padding: 15px;
        @media(max-width:530px){
            width: 70px;
            height: 70px; 
        }
        @media(max-width:410px){
            width: 55px;
            height: 55px;
            padding: 5px;
        }
    }
}
.customText{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    p{
        @media(max-width:670px){
            font-size: 25px;
        }
        @media(max-width:410px){
            font-size: 20px;
        }
    }
}
.type1{
    font-family: Anton;
    font-size: 30px;
    padding: 5px;
}
.type2{
    font-family: Caveat;
    font-size: 30px;
    padding: 5px;
}
.type3{
    font-family: Arimo;
    font-size: 30px;
    padding: 5px;
}
.type4{
    font-family: Dancing_Script;
    font-size: 30px;
    padding: 5px;
}
.order{
    font-size: 25px;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    @media(max-width:800px){
        font-size: 20px;
    }
    @media(max-width:670px){
        font-size: 16px;
    }
    @media(max-width:530px){
        font-size: 13px;
    }
    @media(max-width:410px){
        font-size: 10px;
    }
}
